# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.ipynb_checkpoints/ # For Jupyter/Colab notebooks
.vscode/            # VS Code workspace settings if you don't want to share

# Environment
.env
# Pipenv
.venv/
# virtualenv
venv/
env/

# Generated Data Files
data/output_filtered_sales.csv
data/output_updated_inventory.json
