# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.ipynb_checkpoints/ # For Jupyter/Colab notebooks
.vscode/            # VS Code workspace settings if you don't want to share

# Environment
.env
# Pipenv
.venv/
# virtualenv
venv/
env/

# Scraped data output (if you generate it)
data/output_sales_report.xlsx # Ignore the generated output file
