# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# VS Code & IDE settings
.vscode/
*.code-workspace

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter / Colab
.ipynb_checkpoints/
